<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/styles.css" />
    <title>Exercice Tracker</title>
  </head>

  <body>
    <main class="main__container">
      <h1 class="headind">Exercice Tracker</h1>

      <article class="card">
        <h3 class="card__heading">Create a New User</h3>

        <p class="card__code">
          <code class="card__code-text">POST /api/users</code>
        </p>

        <form action="/api/users" method="post" class="card__form">
          <input
            type="text"
            name="username"
            class="card__form__input"
            placeholder="username"
            required
          />

          <button type="submit" class="card__form__button">Submit</button>
        </form>
      </article>

      <article class="card">
        <h3 class="card__heading">Add exercises</h3>

        <p class="card__code">
          <code class="card__code-text">POST /api/users/:_id/exercises </code>
        </p>

        <form method="post" class="card__form" id="exercice-form">
          <input
            type="text"
            name="userId"
            class="card__form__input"
            placeholder="user id"
            required
          />
          <input
            type="text"
            name="description"
            class="card__form__input"
            placeholder="description*"
            required
          />
          <input
            type="number"
            name="duration"
            class="card__form__input"
            placeholder="duration* (mins.)"
            required
          />
          <input
            type="date"
            name="date"
            class="card__form__input"
          />

          <button type="submit" class="card__form__button">Submit</button>
        </form>
      </article>
    </main>

    <script src="/public/app.js" defer></script>
  </body>
</html>
